{% extends 'base.html' %}
{% load static %}
{% block title %}
  Menu
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="fw-bold text-center" data-aos="fade-up" data-aos-duration="1000" style="color: #ff7b00;">Explore Our Menu</h2>
                <p class="lead text-center text-white" data-aos="fade-up" data-aos-duration="1000">100+ Tea Varieties | Desi Vibes | Ghar Jaisa Swaad</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys3.png' %}" alt="food image">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Tea Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Green Tea</li>
                            <li>Black Tea</li>
                            <li>Herbal Tea</li>
                            <li>Chai Tea</li>
                            <li>Masala Tea</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Burgar Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Green Tea</li>
                            <li>Black Tea</li>
                            <li>Herbal Tea</li>
                            <li>Chai Tea</li>
                            <li>Masala Tea</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys12.png' %}" alt="food image">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys14.png' %}" alt="food image">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Sandwitch Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Green Tea</li>
                            <li>Black Tea</li>
                            <li>Herbal Tea</li>
                            <li>Chai Tea</li>
                            <li>Masala Tea</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
