{% extends 'base.html' %}
{% load static %}
{% block title %}
  Menu
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="fw-bold text-center" data-aos="fade-up" data-aos-duration="1000" style="color: #ff7b00;">Explore Our Menu</h2>
                <p class="lead text-center text-white" data-aos="fade-up" data-aos-duration="1000">100+ Tea Varieties | Desi Vibes | Ghar Jaisa Swaad</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys3.png' %}" alt="food image">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Tea Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Flavoured Rose Tea</li>
                            <li>Flavoured Paan Tea</li>
                            <li>Flavoured Vanila Tea</li>
                            <li>Flavoured Masala Tea</li>
                            <li>Special Kulhad Tea</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Burgar Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Allu Tikki Burger</li>
                            <li>Cheese Burger</li>
                            <li>Paneer Burger</li>
                            <li>Tandoori Burger</li>
                            <li>Vegies Burger</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys12.png' %}" alt="food image">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys14.png' %}" alt="food image">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Sandwitch Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Grilled Sandwich</li>
                            <li>Cheese Grilled Sandwich</li>
                            <li>Paneer Sandwich</li>
                            <li>Veg Tandoori Sandwich</li>
                            <li>Cheese Tandoori Sandwich</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Fries Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Classic Fries</li>
                            <li>Peri Peri Fries</li>
                            <li>Cheese Loaded Fries</li>
                            <li>Cheese Masala Fries</li>
                            <li>Veggies Fries</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys31.png' %}" alt="food image">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys32.png' %}" alt="food image">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Maggie Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Plain Maggie</li>
                            <li>Veg Masala maggie</li>
                            <li>Paneer Maggie</li>
                            <li>Cheese Corn Maggie</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #ff7b00;">
                        <h2 class="card-title fw-bold" style="font-family: 'Dancing Script', cursive; color: white;">Shakes Varieties</h2>
                    </div>
                    <div class="card-body text-center" style="background-color: #111d02ff;">
                        <ul class="list-unstyled fw-bold" style="color: white;">
                            <li>Strawberry Shake</li>
                            <li>Oreo shake</li>
                            <li>Chocolate Shake</li>
                            <li>KitKat Shake</li>
                            <li>Mango Shake</li>
                            <li>Blueberry Shake</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
                <img  class="img-fluid" src="{% static 'images/olys34.png' %}" alt="food image">
            </div>
        </div>
    </div>
</section>
{% endblock %}
